<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="navbar">
        <a href="/">Generate</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
    </div>
    <h1>Contact</h1>
    <a href="https://github.com/dbaslan">Developed by Deniz Baran Aslan, feel free to follow me on GitHub</a>
    <br><br>
    <a href="https://www.linkedin.com/in/deniz-baran-aslan/">You can also connect with me on LinkedIn</a>
    <br><br>
    For any other questions or feedback, feel free to send an e-mail to d_b_aslan at windowslive dot com</a>
</body>
</html>